.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  padding: 20px;
}

.descricao {
  font-size: 24px;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.descricao strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 30px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #b629f8 0%, #800add 100%);
  position: absolute;
  top: 20px;
  left: -4px;
}

.ano {
  position: absolute;
  top: 20px;
  left: -100px;
  color: #525252;
  font-size: 14px;
  width: 80px;
  text-align: right;
}

.empresa-nome {
  font-size: 18px;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-descricao {
  font-size: 14px;
  color: #525252;
  line-height: 1.4;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.habilidades li {
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .descricao {
    font-size: 1.25rem;
  }
  .ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
    order: 1;
  }
  .ano {
    position: initial;
    order: 4;
    width: initial;
    text-align: left;
  }
  .ano::before {
    content: "Ano";
  }

  .empresa {
    grid-template-columns: 1fr;
  }
  .classe {
    order: 2;
  }

  .habilidades {
    order: 3;
  }
}
